.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  background-color: #010409;
  color: white;
}

.container {
  text-align: center;
  /* border: 1px solid black; */
  
  max-width: 700px;
  padding: 2%;

  display: grid;
  place-items: center;

  background-color: #E6EDF3;

}

.main-text {
  width: 75%;
  /* border: 1px solid red; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 2%;
  row-gap: 2%;

  padding: 2% 2%;
}

.images {
  width: 100%;
}
